<!-- Footer -->
<footer class="footer">
  <div class="row full-width">
    <div class="small-12 medium-3 large-4 columns">
      <i class="fi-laptop"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maiores alias ea sunt facilis impedit fuga dignissimos illo quaerat iure in nobis id quos, eaque nostrum! Unde, voluptates suscipit repudiandae!</p>
    </div>
    <div class="small-12 medium-3 large-4 columns">
      <i class="fi-html5"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit impedit consequuntur at! Amet sed itaque nostrum, distinctio eveniet odio, id ipsam fuga quam minima cumque nobis veniam voluptates deserunt!</p>
    </div>
    <div class="small-6 medium-3 large-2 columns">
            <section id="archive">
        <h3 class="archivetitle">This year's posts</h3>
        {%for post in site.posts %}
          {% unless post.next %}
            <ul class="this">
          {% else %}
            {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
            {% if year != nyear %}
              </ul>
              <h3>{{ post.date | date: '%Y' }}</h3>
              <ul class="past">
            {% endif %}
          {% endunless %}
      <li><time>{{ post.date | date:"%d %b" }}</time><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
</section>
    </div>
    <div class="small-6 medium-3 large-2 columns">
      <h4 class="archivetitle">Follow Me</h4>
      <ul class="footer-links">
        <li><a href="#">Linkedin</a></li>
        <li><a href="#">Vimeo</a></li>
      </ul>
    </div>
  </div>
</footer>

         </div>
    </div>
  </div>


    
   

    
    <script src="{{ "/js/vendor/jquery.js" }}"></script>
    <script src="{{ "/js//vendor/what-input.js" }}"></script>
    <script src="{{ "/js/vendor/foundation.js" }}"></script>
    <script src="{{ "/js/foundation/foundation.offcanvas.js" }}"></script>
    <script src="{{ "/js/app.js" }}"</script>

    <script>
    $(document).foundation();
    </script>




  </body>
</html>
