<div class="off-canvas-wrapper ">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
      <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
        <ul class="vertical menu" data-drilldown><!-- start of the drilldown multi level menu -->
          <li class="offCanvasCell">
            <a class="menuTitle2" href="{{ "/index.html" }}">Home.</a>
            
          </li>
          <li class="offCanvasCell">
            <a class="menuTitle2" href="{{ "/about.html" }}">About Me.</a>
            
              
            
          </li>
          <li class="offCanvasCell">
            <a class="menuTitle2" href="{{ "/reel.html" }}">Reel / Resume.</a>
          </li>
          <li class="offCanvasCell"><a href="{{ "/contact.html" }}" class="menuTitle2"> Contact Me</a></li>
        </ul>
      </div>
      <div class="off-canvas-content" data-off-canvas-content>
        <div class="title-bar show-for-small-only ">
          <div class="title-bar-left">
            <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
            <span class="title-bar-title raleway">Michele Mennonna </span>
          </div>
        </div>
    <div class="row header1">
      <div class=" large-12 columns large-centered medium-centered small-centered">
        <h1 class = "titleMy hide-for-small-only">Michele Mennonna</h1>
        <nav class="headerMenu hide-for-small-only">
          <ul>
            <li class="menuCell columns large-3 medium-3">
              <a href="{{ "/index.html" }}">
                <div > 
                  <h1 class="menuTitle">
                    Home.
                  </h1>
             
                </div>
              </a>
            </li>
            <li class="menuCell columns large-3 medium-3">
              <a href="{{ "/about.html" }}">
                <div > 
                  <h1 class="menuTitle">
                    About Me.
                  </h1>
             
                </div>
              </a>
            </li>
            <li class="menuCell columns large-3 medium-3">
              <a href="{{ "/reel.html" }}">
                <div > 
                  <h1 class="menuTitle">
                    Reel / Resume. 
                  </h1>
             
                </div>
              </a>
            </li>
            <li class="menuCell columns large-3 medium-3">
              <a href="{{ "/contact.html" }}"">
                <div > 
                  <h1 class="menuTitle">
                    Contact Me
                  </h1>
             
                </div>
              </a>
            </li>
           </ul>
        </nav>
      </div>
    </div>
